body{
    background-color: rgb(255, 255, 255);
}

.titles{
    width: auto;
    text-align: center;
    color: rgb(22, 155, 133);
    font-size: xx-large;
    background-color: rgb(54, 49, 49);
}
.description
{
    width: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    outline-color: rgb(179, 124, 231);
}
.youtubelinkstomychanels{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: aqua;
}
.youtubelinkstomychanels a {

    text-align: center;
    outline-color: rgb(172, 113, 228);
    text-decoration: none;
    font-size: xx-small;
}

.youtubelinkstomychanels2{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(20, 197, 197);
}
.youtubelinkstomychanels2 a {

    text-align: center;
    outline-color: rgb(199, 172, 224);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels3{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(26, 161, 161);
}
.youtubelinkstomychanels3 a {

    text-align: center;
    outline-color: rgb(181, 112, 245);
    text-decoration: none;
    font-size: xx-small;
}

.youtubelinkstomychanels4{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(75, 201, 201);
}
.youtubelinkstomychanels4 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}

.youtubelinkstomychanels5{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(69, 136, 136);
}
.youtubelinkstomychanels5 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels6{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(63, 77, 77);
}
.youtubelinkstomychanels6 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}

.youtubelinkstomychanels7{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(71, 231, 231);
}
.youtubelinkstomychanels7 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels8{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(16, 114, 114);
}
.youtubelinkstomychanels8 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}

.youtubelinkstomychanels9{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(164, 190, 16);
}
.youtubelinkstomychanels9 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels10{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(163, 194, 27);
}
.youtubelinkstomychanels10 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.colorstriphere{
    width: 100%;
    height: 50px;
    background-color:rgb(205, 59, 224);
}
.colorstripherefirst{
    width: 100%;
    height: 50px;
    background-color:rgb(206, 25, 176);
}
.colorstriphere2{
    width: 100%;
    height: 50px;
    background-color:rgb(238, 46, 136);
}
.colorstriphere3{
    width: 100%;
    height: 50px;
    background-color:rgb(231, 62, 141);
}
.colorstriphere4{
    width: 100%;
    height: 50px;
    background-color:rgb(255, 147, 197);
}
.colorstriphere5{
    width: 100%;
    height: 50px;
    background-color:rgb(248, 178, 211);
}

.colorstriphere6{
    width: 100%;
    height: 50px;
    background-color:rgb(165, 91, 235);
}
.colorstriphere7{
    width: 100%;
    height: 50px;
    background-color:rgb(62, 12, 109);
}
.colorstriphere8{
    width: 100%;
    height: 50px;
    background-color:rgb(205, 154, 253);
}
.youtubelinkstomychanels11{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(223, 136, 6);
}
.youtubelinkstomychanels11 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}

.youtubelinkstomychanels12{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(201, 159, 97);
}
.youtubelinkstomychanels12 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels13{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(241, 148, 26);
    background-color: rgb(106, 192, 142);
}
.youtubelinkstomychanels13 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels14{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(41, 194, 214);
    background-color: rgb(238, 206, 102);
}
.youtubelinkstomychanels14 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels15{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(41, 194, 214);
}
.youtubelinkstomychanels15 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels16{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(73, 196, 48);
}
.youtubelinkstomychanels16 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels17{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(43, 91, 196);
}
.youtubelinkstomychanels17 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels18{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(80, 120, 207);
}
.youtubelinkstomychanels18 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels19{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(80, 120, 207);
}
.youtubelinkstomychanels19 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels20{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(24, 160, 149);
}
.youtubelinkstomychanels20 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels21{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(24, 160, 149);
}
.youtubelinkstomychanels21 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.youtubelinkstomychanels22{
    margin-top: 20px;
    width: auto;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(24, 160, 149);
}
.youtubelinkstomychanels22 a {

    text-align: center;
    outline-color: rgb(177, 143, 209);
    text-decoration: none;
    font-size: xx-small;
}
.copyright{
    text-align: center;
    margin-bottom: 0px;
}


@media only screen and (min-width:30px) and (max-width:500px) {
.titles{
    font-size: medium;
}
.youtubelinkstomychanels,.youtubelinkstomychanels2,.youtubelinkstomychanels3,.youtubelinkstomychanels4,.youtubelinkstomychanels5,.youtubelinkstomychanels6,.youtubelinkstomychanels7,.youtubelinkstomychanels8,.youtubelinkstomychanels9,.youtubelinkstomychanels10,.youtubelinkstomychanels11,.youtubelinkstomychanels12,.youtubelinkstomychanels13,.youtubelinkstomychanels14,.youtubelinkstomychanels15,.youtubelinkstomychanels16,.youtubelinkstomychanels17,.youtubelinkstomychanels18,.youtubelinkstomychanels19,.youtubelinkstomychanels20,.youtubelinkstomychanels21,.youtubelinkstomychanels22{
    font-size: medium;
    letter-spacing: 3px;
}
.description{
    font-size: medium;
    letter-spacing: 4px;
}
}